.card-container{
 position: relative;
  left: 40rem;
  width: 500px;
  height: 400px;
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 0px 20px 15px -15px;
  transition: 3.10;
  /* animation:alternate; */
  
  }
  .card-container1{
  display: inline-flex;
  
  }
  
  .card-container1 img{
  border-style:dashed;
  border-radius: 45px;
  /* transform: scale(1.10); */
  /* box-shadow: 15px 15px 15px 15px; */
  
  }
  
  
  .card-container:hover{
  transform: scale(1.10);
  box-shadow: 5px 5px 5px 5px;
  /* transform: rotate(360deg); */
  /* transform: rotate(-360deg); */
  }
  
  .image-container img{
      overflow: hidden;
      height:10px;
      width: 30px;
  }
  
  .card-content{
      margin: 1rem;
      margin-top: 0.5rem;
  }
  h3.p{
      margin: 0;
      padding: 0;
  }
  
 
  .card-title{
      margin-bottom: 0.5rem;
      
  }
  
  .btn{
      display: flex;
      justify-content: center;
  }
  
  .btn button{
      padding: 0.5rem;
      background-color: white;
      border: none;
      transition: 0.5s;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      color: #1b9cfc;
      text-decoration: none;
      font-weight: bold;
  
  }
  
  .btn button:hover{
      background: rgba(27, 156, 252, 0.1);
      transform:scale(1.1) ;
      
  }
  
  .footbar{
      padding: 10px 60px;
      text-align: center;
      background-color: black;
      text-decoration: none;
      margin: 120px;
  }
  
  .topnav{
     
      padding: 14px 16px;
      display: flex ;
      text-align: center;
      /* background-color: black; */
      text-decoration: none;
      margin: 10px;
      color: white;
      text-align: center;
      font-size: x-small;
      }
  
      .footbar a{
     
          padding: 20px 16px;
          margin: 10px 25px;
          }
      
      
  .topnav a{
     
      padding: 20px 16px;
      margin: 10px 25px;
      }
  
      .topnav a:hover{
     
         color: white;
         background-color: green;
         border-radius: 25px;
          }
  /* .firstdiv{
      flex-direction: column-reverse;
  } */
  div{
      border-color: red;
  }
  .card-flex{
      display: flex;
      margin-left: 60px;
  }
  
  /* .buyme{
      background-color: blue;
  } */
  
  /* .cart{
      background-color: green;
  } */
  .picdiv img{
      
      margin: 20px;
      border: 2px;
      border-radius: 50px;
    
  }
  
  .picdiv img:hover{
  /* width: 100px;
  height: 100px; */
  /* overflow: hidden; */
  box-shadow: 0px 50px 15px -15px;
  transition: 0.3s;
  /* transform: rotate(360deg); */
  /* animation: ease-in-out; */
  
   }
  /* .fam{
      border: 10px;
      background-color: #1b9cfc;
      box-sizing: border-box;
      size: 10px;
  } */
  
  button {
      background-color:rgb(90, 131, 90); /* Green */
      border: none;
      color: rgb(230, 218, 218);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
  
    button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      background-color: green;
    }
    
    .logo img{
      width: 20px;
      height: 45px;
      border-radius: 15px;
    }
  
    .logo {
      display: flex;
      
    }
  
    /* .styletable{
      border: 2px solid green;
      table-layout: auto;
      tab-size: 10px;
      box-sizing: border-box;
     
      
    } */
  
    .styletable {
      width: 90%;
      font-family: 'Helvetica Neue', sans-serif;
      position:sticky;
      top:10pc;
      left:5ch;
      padding: 0px;
      margin-left: 0px;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .styletable th {
      border-bottom: 1px solid green;
      text-align: center;
      padding: 0px;
      color: rgb(255, 255, 255);
      background-color: #333;
    }
    
    .styletable td {
      padding: 15px;
      color: rgb(3, 0, 0);
      text-align: center;
      background-color:rgba(27, 156, 252, 0.1);
    }
    
    /* .my-table tr:nth-child(even) {
      background-color: #f9f9f9;
    }
     */
    /*.my-table tr:hover {
      background-color: #f0f0f0;
    }
    */
  
    