.footer {
    position: relative;
    top:60pc;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .footer ul li:first-child {
    margin-left: 0;
  }
  
  .footer ul li a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer ul li a:hover {
    color: #333;
  }
  