body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3px;
    
  }
  
  .main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding:90px 0 90px 0 ;
    opacity: 0.5px;
  
  }
  /* .main1{
    text-align: center;
    justify-content: center;
    padding:90px 0 90px 0 ;
    background-color: rgb(199, 194, 194);
    color: white;
    height: 600px;
    width:  150px;
    color: black; */
    /* margin-left: 500px;
    margin-top: 50px;
    margin-right: 250px;
    border-radius: 45px;
    margin-bottom: 360px;
   display: inline-flex; */
  /* } */

  .justify {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
  }
  

   