.search-form {
  position: absolute;
  left: 250px;
  top:20px;
  display: flex;
  flex-direction: column;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;
  padding-top: 30px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

.search-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #3f51b5;
}

.search-form input,
.search-form button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  
}

.search-form button {
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Define the search button styles */
button.search-button {
background-color: #fff;
color: black;
padding: 10px 20px;
border: 1px sold black;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s;
}

/* Add the hover animation to the search button */
button.search-button:hover {
background-color: #3f51b5;

}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #9f9f9f;
  color: #c7c7c7;
  cursor: not-allowed;
}